.oaImages {
    margin-bottom: 1.6rem;
    img {
        width: 99%;
        margin-bottom: 1.2rem;
    }
}
.oaHorizImage {
    @media (max-width: 576px) { 
        img {
            max-height: 75vw;
            object-fit: cover;
        }
    }
}